## Compulsory Task 

In this compulsory task you will clean the country column and parse the date column in the **store_income_data_task.csv** file.

In [2]:
# Load up store_income_data.csv
import pandas as pd
from datetime import datetime
import fuzzywuzzy
from fuzzywuzzy import process
import chardet

c:\Users\AMMAR\anaconda3\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

1. Take a look at all the unique values in the "country" column. Then, convert the column to lowercase and remove any trailing white spaces.

In [3]:
df= pd.read_csv('store_income_data_task.csv')
df['country']=df['country'].str.lower()
df['country'].unique()

array(['united states/', 'britain', ' united states', 'britain/',
       ' united kingdom', 'u.k.', 'sa ', 'u.k/', 'america',
       'united kingdom', nan, 'united states', ' s.a.', 'england ', 'uk',
       's.a./', 'england', 'u.k', 'u.k ', 'america/', 'sa.', 's.a. ', ' ',
       'uk.', 'england/', ' britain', 'united states of america', 'uk/',
       'sa/', 'sa', 'england.', 'america.', 's.a..', 's.a.', ' u.k',
       ' united states of america', 'britain ', ' sa',
       'united states of america.', 'united states of america/',
       'united states.', 's. africasouth africa', ' england',
       'united kingdom ', 'united states of america ', ' uk', 'america ',
       ' s. africasouth africa', 'britain.', '/', 'united kingdom.',
       ' america', 'uk ', 'united states ', 's. africasouth africa/',
       'united kingdom/', 's. africasouth africa ',
       's. africasouth africa.', '.'], dtype=object)

In [4]:
df['country'].str.strip()
countries = df['country'].unique()
print(f"There are {len(countries)} unique countries")
countries

There are 59 unique countries

array(['united states/', 'britain', ' united states', 'britain/',
       ' united kingdom', 'u.k.', 'sa ', 'u.k/', 'america',
       'united kingdom', nan, 'united states', ' s.a.', 'england ', 'uk',
       's.a./', 'england', 'u.k', 'u.k ', 'america/', 'sa.', 's.a. ', ' ',
       'uk.', 'england/', ' britain', 'united states of america', 'uk/',
       'sa/', 'sa', 'england.', 'america.', 's.a..', 's.a.', ' u.k',
       ' united states of america', 'britain ', ' sa',
       'united states of america.', 'united states of america/',
       'united states.', 's. africasouth africa', ' england',
       'united kingdom ', 'united states of america ', ' uk', 'america ',
       ' s. africasouth africa', 'britain.', '/', 'united kingdom.',
       ' america', 'uk ', 'united states ', 's. africasouth africa/',
       'united kingdom/', 's. africasouth africa ',
       's. africasouth africa.', '.'], dtype=object)

In [5]:
matches = fuzzywuzzy.process.extract("uk", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)
matches

[('uk', 100),
 ('uk.', 100),
 ('uk/', 100),
 (' uk', 100),
 ('uk ', 100),
 ('u.k.', 40),
 ('u.k/', 40),
 ('u.k', 40),
 ('u.k ', 40),
 (' u.k', 40)]

2. Note that there should only be three separate countries. Eliminate all variations, so that 'South Africa', 'United Kingdom' and 'United States' are the only three countries.

In [6]:
# without fuzzywuzzy
'''
df['country'] = df['country'].replace({'usa': 'united states', 'us': 'united states','uk': 'united kingdom', 'u.k': 'united kingdom',
                                       'sa.': 'south africa','s. africasouth africa/': 'south africa','s.a./':'south africa',
                                       'united states/':'united states','u.k/':'united kingdom','united states of america':'united states',
                                       'britain.':'united kingdom','s.a..':'south africa','britain':'united kingdom','britain/':'united kingdom',
                                       'england':'united kingdom','america':'united states','.':None,' ':None,'/':None})
'''
def replace_matches_in_column(df, column, string_to_match, min_ratio = 90):
    # get a list of unique strings
    strings = df[column].unique()
    
    # Get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # Only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # Get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # Replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    
    # Let us know when the function is done
    print("All done!")
df['country'].unique()

array(['united states/', 'britain', ' united states', 'britain/',
       ' united kingdom', 'u.k.', 'sa ', 'u.k/', 'america',
       'united kingdom', nan, 'united states', ' s.a.', 'england ', 'uk',
       's.a./', 'england', 'u.k', 'u.k ', 'america/', 'sa.', 's.a. ', ' ',
       'uk.', 'england/', ' britain', 'united states of america', 'uk/',
       'sa/', 'sa', 'england.', 'america.', 's.a..', 's.a.', ' u.k',
       ' united states of america', 'britain ', ' sa',
       'united states of america.', 'united states of america/',
       'united states.', 's. africasouth africa', ' england',
       'united kingdom ', 'united states of america ', ' uk', 'america ',
       ' s. africasouth africa', 'britain.', '/', 'united kingdom.',
       ' america', 'uk ', 'united states ', 's. africasouth africa/',
       'united kingdom/', 's. africasouth africa ',
       's. africasouth africa.', '.'], dtype=object)

In [7]:
replace_matches_in_column(df=df, column='country', string_to_match="south africa")
replace_matches_in_column(df=df, column='country', string_to_match="united kingdom")
replace_matches_in_column(df=df, column='country', string_to_match="britain")
replace_matches_in_column(df=df, column='country', string_to_match="united states")
replace_matches_in_column(df=df, column='country', string_to_match="uk")
replace_matches_in_column(df=df, column='country', string_to_match="us")
replace_matches_in_column(df=df, column='country', string_to_match="united states of america")
replace_matches_in_column(df=df, column='country', string_to_match="sa")
df

All done!
All done!
All done!
All done!
All done!
All done!
All done!
All done!

,id,store_name,store_email,department,income,date_measured,country
0,1,"Cullen/Frost Bankers, Inc.",NaN,Clothing,$54438554.24,4-2-2006,united states
1,2,Nordson Corporation,NaN,Tools,$41744177.01,4-1-2006,britain
2,3,"Stag Industrial, Inc.",NaN,Beauty,$36152340.34,12-9-2003,united states
3,4,FIRST REPUBLIC BANK,ecanadine3@fc2.com,Automotive,$8928350.04,8-5-2006,britain
4,5,Mercantile Bank Corporation,NaN,Baby,$33552742.32,21-1-1973,united kingdom
...,...,...,...,...,...,...,...
995,996,Columbia Sportswear Company,cschooleyrn@sohu.com,Automotive,$52593924.99,7-10-2005,s. africasouth africa/
996,997,WisdomTree Interest Rate Hedged High Yield Bon...,NaN,Electronics,$60473676.46,19-12-1990,united states
997,998,Tortoise Energy Infrastructure Corporation,cbeardshallrp@ow.ly,Health,$1697293.64,25-4-2009,united states of america
998,999,Qwest Corporation,NaN,Beauty,$30091863.73,13-1-2011,england
999,1000,SLM Corporation,NaN,Kids,$66106336.48,1-12-2011,united kingdom

In [8]:
countries = df['country'].unique()

print(f"There are {len(countries)} unique countries")
countries

There are 35 unique countries

array(['united states', 'britain', 'united kingdom', 'u.k.', 'sa', 'u.k/',
       'america', nan, ' s.a.', 'england ', 'uk', 's.a./', 'england',
       'u.k', 'u.k ', 'america/', 's.a. ', ' ', 'england/',
       'united states of america', 'england.', 'america.', 's.a..',
       's.a.', ' u.k', 's. africasouth africa', ' england', 'america ',
       ' s. africasouth africa', '/', ' america',
       's. africasouth africa/', 's. africasouth africa ',
       's. africasouth africa.', '.'], dtype=object)

In [32]:
df.replace('uk', 'united kingdom', inplace=True)
df.replace('united states of america', 'united states', inplace=True)
df.replace('britain', 'united kingdom', inplace=True)
df.replace('us', 'united states', inplace=True)
df.replace('sa', 'south africa', inplace=True)
df.replace('america.', 'united states', inplace=True) 
df.replace('u.k.', 'united kingdom', inplace=True)
df.replace('u.k/', 'united kingdom', inplace=True)
df.replace('u.k', 'united kingdom', inplace=True)
df.replace(' u.k', 'united kingdom', inplace=True)
df.replace('u.k ', 'united kingdom', inplace=True)
df.replace('england', 'united kingdom', inplace=True)
df.replace('england/', 'united kingdom', inplace=True)
df.replace('england.', 'united kingdom', inplace=True)
df.replace(' england', 'united kingdom', inplace=True)
df.replace('england ', 'united kingdom', inplace=True)
df.replace('s.a.', 'south africa', inplace=True)
df.replace('s.a./', 'south africa', inplace=True)
df.replace('s.a..', 'south africa', inplace=True)
df.replace('s.a.', 'south africa', inplace=True)
df.replace('s.a.', 'south africa', inplace=True)
df.replace('s.a.', 'south africa', inplace=True)
df.replace('s. africasouth africa', 'south africa', inplace=True)
df.replace('s. africasouth africa/', 'south africa', inplace=True)
df.replace('s. africasouth africa ', 'south africa', inplace=True)
df.replace('s. africasouth africa.', 'south africa', inplace=True)
df.replace('s. africasouth africa', 'south africa', inplace=True)
df.replace(' s.a.', 'south africa', inplace=True)
df.replace(' s. africasouth africa', 'south africa', inplace=True)
df.replace('s.a. ', 'south africa', inplace=True)
df.replace('america', 'united states', inplace=True)
df.replace('america/', 'united states', inplace=True)
df.replace('america ', 'united states', inplace=True)
df.replace(' america', 'united states', inplace=True)
df.replace(' ', None, inplace=True)
df.replace('/', None, inplace=True)
df.replace('.', None, inplace=True)
df['country'].unique()

array(['united states', 'united kingdom', 'south africa', nan, None],
      dtype=object)

3. Create a new column called `days_ago` in the DataFrame that is a copy of the 'date_measured' column but instead it is a number that shows how many days ago it was measured from the current date. Note that the current date can be obtained using `datetime.date.today()`.

In [31]:
df['date_measured'] = pd.to_datetime(df['date_measured'], format='%d-%m-%Y')
today = pd.to_datetime(datetime.today().strftime('%Y-%m-%d'))
df['days_ago'] = (today - df['date_measured']).dt.days
df

,id,store_name,store_email,department,income,date_measured,country,days_ago
0,1,"Cullen/Frost Bankers, Inc.",NaN,Clothing,$54438554.24,2006-02-04,united states,6663
1,2,Nordson Corporation,NaN,Tools,$41744177.01,2006-01-04,united kingdom,6694
2,3,"Stag Industrial, Inc.",NaN,Beauty,$36152340.34,2003-09-12,united states,7539
3,4,FIRST REPUBLIC BANK,ecanadine3@fc2.com,Automotive,$8928350.04,2006-05-08,united kingdom,6570
4,5,Mercantile Bank Corporation,NaN,Baby,$33552742.32,1973-01-21,united kingdom,18730
...,...,...,...,...,...,...,...,...
995,996,Columbia Sportswear Company,cschooleyrn@sohu.com,Automotive,$52593924.99,2005-10-07,south africa,6783
996,997,WisdomTree Interest Rate Hedged High Yield Bon...,NaN,Electronics,$60473676.46,1990-12-19,united states,12189
997,998,Tortoise Energy Infrastructure Corporation,cbeardshallrp@ow.ly,Health,$1697293.64,2009-04-25,united states,5487
998,999,Qwest Corporation,NaN,Beauty,$30091863.73,2011-01-13,united kingdom,4859
999,1000,SLM Corporation,NaN,Kids,$66106336.48,2011-12-01,united kingdom,4537